
.selectbutton{
  border:none !important;
  outline: none !important

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.foo-social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: relative;
  bottom: -9px;
  right: 49px;
}








.index-select {
  background-color: transparent;
  border: none !important;
  height: 20px;
  /* width: 160px; */
  outline: none !important;
  color: #72717d;
  /* Body/B2 - Reg */
  font-family: Poppins !important;
  font-size: 18px;
  font-weight: 400;
  margin-left: 20%;
  /* margin-top: 1.5% !important; */
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  text-transform: unset !important;
  min-width: unset !important;
  padding: unset !important;
}
.closed{
  margin: 5px 8px;
  /* background-color: #a0a0a0; */
  display: inline;
  border-radius: 50%;
}

.headerdivider {
  height: 20px !important;
  border-right: 2px solid var(--nuetrals-nuetrals-n-300, #72717d);
  position: absolute;
  margin-left: 35%;
  margin-top: 1.3% !important;
}
.headerdivider1 {
  height: 20px !important;
  border-right: 2px solid var(--nuetrals-nuetrals-n-300, #72717d);
  position: absolute;
  margin-left: 42%;
  margin-top: 1.3% !important;
}
.headerdivider2 {
  height: 20px !important;
  border-right: 2px solid var(--nuetrals-nuetrals-n-300, #72717d);
  position: absolute;
  margin-left: 50%;
  margin-top: 1.3% !important;
}
.headerdivider3 {
  height: 20px !important;
  border-right: 2px solid var(--nuetrals-nuetrals-n-300, #72717d);
  position: absolute;
  margin-left: 55%;
  margin-top: 1.3% !important;
}



.button-index {
  color: #72717d;
  font-size: 13px;
  /* margin-left: 1% !important; */
  font-weight: 400;
  /* margin-top: 1.8% !important; */
  position: relative;
}
/* .button-index:after{
  content: " ";
  height: 20px;
  width:2px ;
  border-right: 1.5px solid #72717D;
  position: absolute;
  margin-top: 10px;
  background:#72717D !important;
  right: 0;
} */

.button-index1 {
  color: #72717d;
  /* margin-left: -20% !important; */
  font-weight: 600;
  margin-top: 1.5% !important;
}
.main-navbar {
  display: flex;
  flex-direction: row;
  height: 120px;
  text-decoration: none !important;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: s #eeecfe;
  background:  #FFFFFF;
  ;
  box-shadow: 0px 4px 10px #a0a0a0;
  /* border-radius: 4px; */
}

.main-navbar-section {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.main-nav-button {
  margin-right: -100px;
  color: #3e30c2;
}

.langbtn:hover {
  /* margin-right: -100px; */
  background-color: #eeecfe;
  /* color: #3E30C2; */
}

.main-change-background-color {
  animation: changeColor 0.6s forwards ease-in-out;
  background: #eeecfe;
}

.main-animated-button1 {
  background: linear-gradient(-30deg, #3e30c2 50%, #3e30c2 50%);
  padding: 2px 8px !important;
  margin-left: 95% !important;
}

.navbar-links {
  display: flex;
  inline-size: auto;
  flex-direction: row-reverse;
  justify-content: space-between !important;

  margin-top: 2% !important;
  margin-left: 30%;
  position: absolute;
  width: 82px;
  height: 28px;
  left: 702px;
  top: 23px;

  font-family: "Poppins";
  font-style: "normal";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.main-navbar-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.main-navbar-logo1 {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-left: 3%;
  /* align-self: flex-start; */
 
  /* margin-top: 30px !important; */
}

.css-hyum1k-MuiToolbar-root {
  min-height: unset !important;
}

.main-navbar-logo2 {
  width: 135px;
}

.main-navbar-logo3 {
  width: 50px;
  height: 30px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-navbar-logo4 {
  margin-left: 10px;
  width: 50px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-navbar-logo5 {
  margin-left: 10px;
  width: 50px;
  height: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.main-navbar-logo9 {
  margin-left: 30px;
  margin-top: -15px;
  width: 90px;
  /* height: 60px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.main-navbar-logo6 {
  margin-left: 5px;
  width: 50px;
  height: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.logo-margin {
  margin: 5px;
  justify-items: center;
}

.japan-font {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.japan-fonts {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.norway-font {
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.icon {
  background-color: white;
}

/* @media only screen and (max-width: 650px) {
  .main-navbar-images .main-navbar-logo1 {
    width: 180px;
    margin-left: -25px;
  }

  .main-navbar-logo2 {
    width: 100px;
  }
} */

@media only screen and (max-width: 600px) {
  .main-navbar-logo9 {
    margin-left: 11px;
    margin-top: -11px;
    width: 60px;
  }

  .main-navbar-logo3 {
    width: 30px;
    height: 21px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  .main-navbar-logo5 {
    margin-left: 10px;
    width: 30px;
    height: 21px;
    /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
  }

  .main-navbar-logo2 {
    width: 90px;
  }

  .logo-margin {
    margin: 0px;
    justify-items: center;
  }

  .main-navbar-images .main-navbar-logo1 {
    width: 180px;
    margin-left: -38px;
  }
}

@media only screen and (max-width: 540px) {
  .main-navbar-logo3 {
    width: 30px;
    height: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  .main-navbar-logo5 {
    width: 30px;
    height: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .logo-margin {
    margin: 2px;
  }
}

@media only screen and (max-width: 450px) {
  .japan-font {
    font-size: 6px;
    text-align: center;
    font-weight: 400;
  }

  .norway-font {
    margin-left: 10px;
    font-size: 6px;
    text-align: center;
    font-weight: 400;
  }

  .main-navbar-logo3 {
    width: 19px;
    height: 12px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .main-navbar-logo5 {
    width: 19px;
    height: 12px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .main-navbar-logo9 {
    /* padding-left: -22px; */
    width: 42px;
    margin-top: -5px;
    margin-right: 14px;
    /* height: 36px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .main-navbar {
    height: 80px;
  }

  .main-navabar-toll-free p {
    font-size: 7px;
    font-weight: 600;
  }

  .main-navbar-images .main-navbar-logo1 {
    width: 104px;
    margin-left: -39px;
  }

  .main-navbar-logo2 {
    width: 52px;
  }

  .main-navbar-buttons {
    margin-top: 4%;
    margin-right: 5px;
  }

  .main-animated-button1 {
    padding: 2px 4px !important;
    min-width: 50px !important;
    font-size: 10px !important;
  }

  .download-logo {
    color: "red";
    cursor: "pointer";
    margin-left: 20;
    font-size: 5px;
  }

  .logo-margin {
    margin: -3px;
  }
}

@media only screen and (max-width: 320px) {
  .main-navbar-logo3 {
    width: 10px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .main-navbar-logo5 {
    width: 10px;
    height: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  .japan-font {
    font-size: 6px;
    text-align: center;
    font-weight: 400;
  }

  .main-navbar {
    height: 50px;
  }

  .main-navabar-toll-free p {
    font-size: 8px;
  }

  .main-navbar-images .main-navbar-logo1 {
    width: 120px;
    margin-left: -35px;
  }

  .main-navbar-logo2 {
    width: 40px;
  }

  .main-navbar-buttons {
    margin-top: 0;
    margin-right: 3px;
  }

  .main-animated-button1 {
    padding: 2px !important;
    min-width: 40px !important;
    font-size: 9px !important;
  }
}

@keyframes changeColor {
  from {
    background-color: #eeecfe;
  }

  to {
    background-color: white;
  }
}

/* .header-container {
  display: flex;
}

.header-link {
  padding: 10px;
  cursor: pointer;
}

.selected::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: blue;
  /* // Change to your desired color 
} */

.header-container {
  /* background-color: #EEECFE; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header-link {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  transition: color 0.1s;
  color: #72717d;
  width: 100%;
  text-decoration: none !important;

  width: auto;
}

.header-link a:hover {
  /* color: #eeecfe; */
  text-decoration: none !important;
  content: "";
  display: block;
}

 /* .header-link:focus{
  color: #6257CD !important;
} */

/* .header-icon:focus{
  background-color: #6257CD !important;
} */
/* .selected ::before {
  color: #000000;
  font-weight: bold;
  text-decoration: none !important;
} */
/* .selected {
  color: #3e30c2;
  font-weight: bold;
  text-decoration: none !important;
} */
/* .selected a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3e30c2;
  text-decoration: none !important;
} */
.fa {
  margin-right: 5px;
}
.fas {
  color: #3e30c2;
}

.modallogin {
  margin-top: 0px;
  background-color: white;
  width: 10% !important;
  height: 100%;
  position: relative;
  margin-bottom: 20%;
  /* flex-direction: column;
  display: flex; */
  /* top: 14%; */
  /* left: 10%; */
  /* border-radius: 30px; */
}

.cccc {
  /* box-sizing: border-box; */

  position: absolute;
  width: 170%;
  margin-top: 10% !important;
  /* height: 224px; */
  left: 41px;
  margin-top: 114px;
  /* right: 1px; */
  margin-left: 5%;
  background: #ffffff;
  border: 2px solid #b5b5b5;
  border-radius: 10px;
  height:280px !important
}


/* //examysfirst */

.examysfirst-main {
  display: flex;
  justify-content: center;
  font-family: Poppins !important;
}
.examysfirst-container {
  width: 724px;
  height: 783px;
  padding: 0px 32px 32px 32px;
  background-color: #ffffff;
  font-family: Poppins !important;
  /* display: flex;
  justify-content: center; */
}

.examys-home-image {
  font-family: Poppins !important;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* align-items: top; */
}
.examysfirst-heading1 {
  /* color: #141226 !important; */
  font-family: Poppins !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-top: 3%;
}
/* .examysfirst-heading-c {
  color: #131125;
} */
/* .examysfirst-heading-2 {
  font-size: 14px !important;
  color: #141226 !important;
  font-family: Poppins !important;
  font-weight: 500 !important;
  margin-top: 32px;
} */
span {
  /* color: #6257cd; */
}
.examysfirst-middle-content {
  padding: 8px;
}
.examysfirst-bottom-content {
  /* background-color: rgb(237, 199, 199); */
  width: 50%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins !important;
  /* align-items: bottom; */
  margin-left: 20%;

  /* margin: 20% 30% 0% 30%; */
  /* justify-content: center;
  align-items: center; */
  /* justify-content: space-between; */
}
.examysfirst-or {
  margin-top: 24px;
  font-family: Poppins !important;
}
.examysfirst--2 {
  font-family: Poppins !important;
  margin-top: 24px;
  color: var(--nuetrals-nuetrals-n-400, #4a4958);
  margin-left: 5%;
  justify-content: center !important;
  align-items: center;
}
.examysfirst--3 {
  color: #6257cd;
}
.examysfirst-super-btn {
  font-family: Poppins !important;
  margin-left: 30px !important;
  /* width: 80px !important; Adjust the width as needed */
  height: 10px;
  color: #ffffff;
  margin-bottom: -20px !important;
  text-transform: lowercase !important;
  background: #c0392b !important;
  box-shadow: 0px 1.27778px 1.27778px 0px rgba(0, 0, 0, 0.25);
}

.examysfirst-btn {
  font-family: Poppins !important;
  padding: 10px 69px;
  background: #3e30c2 !important;
  justify-content: center !important;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 18px !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  padding: 6px 60px !important;
}
.examysfirst-orr{
  font-weight: 600 !important;
}
.mid-secr{
  display: flex;
}
.examysfiirst-icon{
  color:#6257CD;
  font-size: smaller;
}

/* earnrefer */


/* @media only screen and (max-width: 1460px) {
  
  .langbtn{
    margin-Right: 10% !important;

  }
  .logbutton{
    margin-Right: 10% !important;

  }
  } */


  .css-hyum1k-MuiToolbar-root {
   
    -webkit-align-items:unset !important;
   
  }













  /* nav bar part css here */

.header-item{
  cursor: pointer !important;
}


.header-item:hover{
    color: #6257CD !important;
    /* transition-delay: 1s !important; */
  }



  .header-item:active{
    color: #6257CD !important;
    /* transition-delay: 1s !important; */
  }


   /* .header-item:focus {
    
    color: #6257CD !important;
  } */


  @media (max-width:1053px){
    .login-eng{
      margin-left: 2% !important;
    }
    .secod-nav-part{
     display: flex !important;
     gap: 15px !important;
    }
  }

  @media only screen and (max-width: 1300px) {
   
   .secod-nav-part{
    gap: 20px !important;
   }
   .login-eng{
    margin-left: 5% !important;
   }
  
  }
  @media only screen and (max-width: 1100px) {
   
    
    .login-eng{
     margin-left: 5% !important;
   }
   }