.pdfupperbox{
    
  box-shadow: 2px 2px 2px rgba(83, 83, 83, 0.2) !important;
  margin-top: 4px;
  
}
.arrow3 {
  position: relative;
  width: 110px;
  background-color: #fff !important;
  height: 40px;
  text-align: center;
  margin-bottom: 30px;
  text-align: center;
  color: #0b0b0b !important;
  border-radius: 20px !important;
 font-size: 15px;
}

.arrows3 {
  position: relative;
  width: 110px;
  background-color: #3E30C2 !important;
  height: 40px;
  text-align: center;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  border-radius: 20px !important;
  font-size: 15px;
}


.arrow3-bottom3:after {
  position: absolute;
  bottom: -7px;
  left: 39%;
  margin-left: -8px;
  content: "";
  display: block;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 13px solid #3E30C2;
 color:"white";
 
} 

@media(max-width: 1050px){
  .menu  {
     
      display: none;
     
  }
 
  .menu  {
      right: -10em;
      margin-left:-510px ;
  }
}